body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
}

.big_paragraph {
    style="font-size:34px";
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(8, 50px); /* Adjust this for the number of columns */
    grid-gap: 10px;
}

.ball {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
